---
layout: default
---

{% include javascripts.html %}

<div class="teaserimage">
    <div class="teaserimage-image" {% if site.cover %}style="background-image: url({{ site.cover }})"{% endif %}>
        Teaser Image
    </div>
</div>

<header class="blog-header">
    {% if site.logo %}
      <a class="blog-logo" href="{{site.baseurl}}/" style="background-image: url('{{ site.logo }}')">{{ site.title }}</a>
    {% endif %}
    <h1 class="blog-title">{{ site.title }}</h1>
    <h2 class="blog-description">{{ site.description }}</h2>
    {% include social_and_pagelinks.html %}
</header>


<main class="content" role="main">
  <article class="post">
	  <sectiom class=post-content>
  
  		{% include aboutme.html %}  
  
	   </section>
  </article>
</main>
