
<article class="post">
	<section class="post-content">
		<p>
			I am a paleoanthropologist and paleoecologist interested in understanding the environmental context of early human evolution. My research aims to shed light on the ecological factors that shaped the evolution of our early ancestors.
		</p>

<h1>Bovid Ecomorphology</h1>

<article class="post">
	<section class="post-content">
		<p>

			My dissertation research focussed on reconstructing past environments at early hominin sites using bovid ecomorphology, and expanded the method of ecomorphology to explicitly consider phylogeny and body size. Using this approach, I reconstructed past environments of the Shungura Formation in southwestern Ethiopia.
		</p>

<h1>Evolutionary Consequences of Environmental Change</h1>

		<p>
			Several very influential hypotheses have linked rates of evolution in both hominins and bovids with trends in global climate. I am interested in evaluating how well different models explain rates of mammalian turnover.
		</p>
	</section>
</article>