
<article class="post">
	<section class="post-content">
		
<p>
I am a paleoecologist and paleoanthropologist interested in understanding the environmental context of early human evolution. My research examines the ecological factors that shaped the evolution of our early ancestors. I conduct fieldwork in the Afar region of Ethiopia with the <strong>Mille-Logya Research Project</strong>.
</p>


<p> 
My dissertation focused on reconstructing past environments of the Shungura Formation in southwestern Ethiopia using <strong>bovid ecomorphology</strong>. My work expanded the method of ecomorphology to explicitly consider phylogeny and body size.
</p>


<p>
I am currently working on developing methods for testing hypotheses regarding environmental drivers of speciation and extinction events. 
</p>
	
	</section>
</article>