<p>
I am a paleoecologist and paleoanthropologist interested in understanding the environmental context of early human evolution. My research examines the ecological factors that shaped the evolution of our early ancestors. I conduct fieldwork in the Afar region of Ethiopia with the <strong>Mille-Logya Research Project</strong>.
</p>

<p>Currently, I am a PostDoctoral Scientist in the Center for the Advanced Study of Human Paleobiology and the Department of Anthropology at The George Washington University in Washington, D.C.</p>

<p> 
My dissertation focused on reconstructing past environments of the Shungura Formation in southwestern Ethiopia using <strong>bovid ecomorphology</strong>. My work expanded the method of ecomorphology to explicitly consider phylogeny and body size.
</p>
