<!DOCTYPE html>
<html>

  {% include head.html %}
  {% include googleanalytics.html %}
  <body>


    <!-- content start -->

    <div class="page-content">
      <div class="wrapper">
        {{ content }}
      </div>
    </div>

    <!-- content end -->

    <div id="footer-links"></div>
    <script>$("#footer-links").html($(".custom-links").html()).css("text-align","center");
    $("#footer-links a").css("color","#999").css("text-decoration","none")</script>

	{% include footer.html %}
    {% include javascripts.html %}

  </body>

</html>
