---
---
<!DOCTYPE html>
<html>
  {% include head.html %}
  {% include googleanalytics.html %}
  <body itemscope itemtype="http://schema.org/Article">
	<div class="teaserimage">
	    <div class="teaserimage-image" {% if site.cover %}style="background-image: url(/assets/images/bucketline.jpg)"{% endif %}>
	        Teaser Image
	    </div>
	</div>

	<header class="blog-header">

	    <h1 class="blog-title">{{page.title}}</h1>
	    {% include social_and_pagelinks.html %}
	</header>
	<article class="post">
	<main class="content" role="main">
		<section class="post-content">
          {{content}}
        </section>
      </article>
    </main>
    <div class="bottom-closer">
      <div class="background-closer-image" {%if site.cover %} style="background-image: url({{ site.cover }})"{% endif %}>
        Image
      </div>
      <div class="inner">
        <h1 class="blog-title">{{ site.title }}</h1>
        <h2 class="blog-description">{{ site.description }}</h2>
        <div id="footer-links"></div>
      </div>
    </div>
    {% include javascripts.html %}
  </body>
  <script>$("#footer-links").html($(".blog-header").html());
  $("#footer-links a").css("color","white").css("text-decoration","none")</script>
</html>
